.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #333237;
    padding: 1em;
}

.navbar .ulnavbar{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar .ulnavbar .linavbar{
    margin-right: 2em;
}

.navbar .ulnavbar .linavbar svg{
    padding-top: 5px;
    font-size: 20px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: #add4d3;
}

.menu_trigger{
    cursor: pointer;
}

.menu_trigger p {
    color: white;
    padding-left: 1em;
}

.menu_trigger p:hover {
    color: #add4d3;
}

.dropdown_menu{
    position: absolute;
    background-color: #fb8351;
    border-radius: 8px;
    padding: 10px 15px;
    width: 100px;
    margin-top: .3em;
}

.dropdown_menu ul li{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.dropdown_menu ul li:hover a{
    color: #add4d3;
    cursor: pointer;
}

.dropdown_menu .dropdown_item{
    margin: 10px auto;
}

.dropdown_menu .dropdown_item a{
    max-width: 100px;
    transition: 500ms;
}