.gameCard{
    padding: 1em;
    border: 1px solid gray;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
    background-color: #add4d3;
}

.gameCard h4{
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.gameCard p{
    color: gray;
    margin: 1em;
}

.gameCard span{
    font-weight: bold;
    font-size: 1em;
}

.gameCard .card_actions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gameCard .card_actions button{
    background-color: #ff6565;
    color: white;
}

.gameCard .card_actions a{
    background-color: #50aaa7;
    color: white;
}

.gameCard .card_actions a,
.gameCard .card_actions button{
    text-decoration: none;
    border: none;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.gameCard .card_actions svg{
    margin-right: 0.5em;
}